@use "./variables" as *;

// Breakpoints
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {     
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin button {
    padding: .75rem 2rem;
    border-radius: 30rem;
    border: 1px solid $button-border;
    background-color: $button-primary-color;
    color: $button-primary-text;

    @include tablet {
        padding: .75rem 2.25rem;
    }

    &:hover {
        background-color: $primary-color;
        border: none;
        color: white;
        cursor: pointer;
    }
}

@mixin input {
    padding: .75rem .5rem;
    border-radius: 2rem;
    border: 1px solid $secondary-color;
    margin: .5rem 0;
}