$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Font variables
$font-stack: "Montserrat", sans-serif;
$root-font-size: 100%;

// Colour variables //
$primary-color: #2D97B9;
$secondary-color: #646665;
$surface-color: #DADADC;
$text-color: #19191A;