$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Font variables
$font-stack: "Poppins", sans-serif;
$root-font-size: 100%;

// Colour variables //
$primary-color: #2D97B9;
$secondary-color: #646665;
$surface-color: #DADADC;
$text-color: #19191A;

$button-primary-color: #F4FBFF;
$button-primary-text: #0078BC;
$button-border: #189AE3;

$hypeman-background-color: #FFF9C7;
$hypeman-font-color: #854000;

$admirer-background-color: #F9E2ED;
$admirer-font-color: #871414;

$hater-background-color: #EEDDFF;
$hater-font-color: #5B1487;

$bot-background-color: #E4E6F2;
$bot-font-color: #4D4662;
